*{
    margin: 0;
    padding: 0;
}

.box{
    width: 150px;
    height: 150px;
    background-color: black;
}
.first{
    display: flex;
    justify-content: flex-end;
}
.second{
    display: flex;
    justify-content: center;
}
