
.first{
    display: flex;
    justify-content: center;
}

.container{
 width: 300px;
 height: 300px;  
 background-color: rgb(51, 50, 50); 
 display: flex;
 align-items: center;
 justify-content: center;
}
.main{
    width: 150px;
    height: 150px; 
    background-color: black;
}