*{
    margin: 0;
    padding: 0;
}
.box{
    width: 150px;
    height: 150px;
    background-color: black;  
    margin-bottom: 20px;  
}

.first{
    display: flex;
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
}
.third{
    display: flex;
    justify-content: flex-end;
}


