*{
    margin: 0;
    padding: 0;
}

.container{
    width: 225px;
    height: 500px;
    background-color: rgb(51, 50, 50);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.first{
    width: 185px;
    height: 225px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.second{
    width: 150px;
    height: 150px;
    background-color:rgb(153, 152, 152);
    margin: 10px;
}