*{
    margin: 0;
    padding: 0;
}

.first{
    width: 150px;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.second{
    width: 150px;
    height: 150px;
    background-color: rgb(51, 50, 50); 
    position: relative;
    top: -75px;
    left:75px;
}