*{
    margin: 0;
    padding: 0;
}

.container{
   width:225px;
   height: 450px;
   background-color: rgb(51, 50, 50);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   /* justify-content: center;  */
   
}
.first {
    width: 150px;
    height: 150px;
    background-color: black;
}
.second {
    width: 150px;
    height: 150px;
    background-color: black;
}