*{
    margin: 0;
    padding: 0;
}
.container{
    
   
}
.firsttwo{
    display: flex;
    justify-content: space-between;
}
.first{
    width: 300px;
    height: 300px;
    background-color: rgb(51, 50, 50);
    
}
.second{
    width: 150px;
    height: 150px;
    background-color: black; 
    position: relative;
    left: -100px;
}
.secondtwo{
    display: flex;
    justify-content: space-between;
}
.fourth{
    width: 300px;
    height: 300px;
    background-color: rgb(51, 50, 50);
    position: relative;
    left: -100px;
    top: -75px;
}
.third{
    width: 150px;
    height: 150px;
    background-color: black;
    position: relative;
    top: 75px;

}
/* .box:nth-child(even){
    width: 150px;
    height: 150px;
    background-color: black;
}
.box:nth-child(odd){
    width: 300px;
    height: 300px;
    background-color: rgb(51, 50, 50);
} */