*{
    margin: 0;
    padding: 0;
}
.main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container{

    width: 550px;
    height: 225px;
    background-color: rgb(51, 50, 50);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 150px;
    height: 150px;
    background-color: black;
}