*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: flex-end;
}
.first{
    width: 300px;
    height: 300px;
    background-color: rgb(51, 50, 50);
    display: flex;
    align-items: flex-end;
    
}
.second{
    width: 150px;
    height: 150px;
    background-color: black;
}