*{
    margin: 0;
    padding: 0;
}

.container{
    width: 225px;
    height: 500px;
    background-color: rgb(61, 60, 60);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.first{
    width: 185px;
    height: 225px;
    background-color: black;
    position: relative;
    left: 92px;
}
.second{
    width: 150px;
    height: 150px;
    background-color:rgb(153, 152, 152);
    position: relative;
    top: -75px;
    left: 75px;
}