*{
    margin: 0;
    padding: 0;
}
.div1{
    color: white;
    background-color: black;
    width: 150px;
    height: 150px;

}
.div2{
    color: white;
    background-color: black;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    
}
.div3{
    color: white;
background-color: black;
width: 150px;
    height: 150px;
}
.second{
    display: flex;
}
.container{    
    display: flex;
    
    justify-content: space-between;
}