*{
    margin: 0;
    padding: 0;
}


.box:nth-child(even){
    width: 150px;
    height: 150px;
    background-color: rgb(83, 81, 81);
    
   
}
.box:nth-child(odd){
    width: 150px;
    height: 150px;
    background-color: black;

}
.second{
    position: relative;
    top: -75px;
    left:75px;
}
.third{
    position: relative;
    top: -150px;
    left:150px;
}
.fourth{
    position: relative;
    top: -225px;
    left:225px;
}
.five{
    position: relative;
    top: -300px;
    left:300px;
}

