*{
    margin: 0;
    padding: 0;
}

.first{
    width: 450px;
    height: 225px;
    background-color: rgb(51, 50, 50);
}
.container{
    
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.box{
    width: 150px;
    height: 150px;
    background-color: black;
}
.first-box{
    display: flex;
    justify-content: flex-end;
}
.second-box{
    position: relative;
    top:-75px;
}